body{
  background: url("../images/darkBg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
.hero{
  height: 100vh;
  padding-top: 150px;
}

.btn-primary {
  background: purple;
  outline: none;
  border: none;
}
.btn-primary:hover{
  background: rgb(78, 31, 78);
}
.navbar{
  background: black;
}
.btn-grad {
  background-image: linear-gradient(to right, #141E30 0%, #243B55  51%, #141E30  100%);
  padding: 10px 12px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  
}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* Drag-drop feature */

.upload_svg {
  fill: var(--colorPrimaryNormal, #0576bd);
}
.upload_img {
  width: calc(33.333% - (2rem / 3));
  object-fit: contain;
}




/* Responsive */
@media (max-width: 768px) {
  .hero {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}